.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;       /* horizontal center */
  text-align: center;
  background-color: #f5f7fa;
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 18px;
}
